
<div class="fundal">

    <mat-toolbar>
        <div class="logo" style="cursor: pointer;">
          <span routerLink="/pagina-acasa"><mat-icon>eco</mat-icon>Cartea Ta</span>
        </div>
      
        <div class="spatiere-optiuni-meniu">
        
          <a routerLink="/pagina-acasa" mat-button><mat-icon>home</mat-icon>Acasa</a>
          <a mat-button><mat-icon>info</mat-icon>Contact</a>
          <a mat-button><mat-icon>contact_support</mat-icon>Despre noi</a>
          
      
        </div>
      
      </mat-toolbar>

    

    <div class="mesaj">

        <h1 class="mesaj-principal"><p>Bine ati venit pe magazinul nostru de carti</p></h1>
        <h2 class="mesaj-secundar"><p> Aici puteti gasi o gama diversificata de genuri care sa va captiveze <br>atentia si sa va faca sa descoperiti dorinta de a citii</p></h2>

        <div class="buton">

            <button (click)="spre_pagina_creare_cont('/pagina-creare-cont')">Alatura-te</button>
    
        </div>

    </div>
    <!--
    
    -->
    
  
    
  </div>