<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilterUtilizatorRol($event)" placeholder="Ex. Utilizator@ceva.com" #input>
  </mat-form-field>
    
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceUtilizatorRol" matSort>
    
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let utilizatorRol"> {{utilizatorRol.id}} </td>
      </ng-container>
    
      <!-- Progress Column -->
      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let utilizatorRol"> {{utilizatorRol.rol}} </td>
      </ng-container>
    
      <ng-container matColumnDef="comenzi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comenzi </th>
        <td mat-cell *matCellDef="let utilizatorRol">
    
          <button mat-button color="primary" >
    
            <mat-icon>edit</mat-icon>
    
          </button>
    
          <button mat-button color="warn" >
    
            <mat-icon>delete</mat-icon>
    
          </button>
    
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedUtilizatorRolColumns"></tr>
      <tr mat-row *matRowDef="let utilizatorRol; columns: displayedUtilizatorRolColumns;"></tr>
    
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nu s-a gasit date care sa se potriveasca cautarii dvs."{{input.value}}"</td>
      </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>

